<!-- Messages Dropdown Menu -->
<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
        <img [src]="user.imageUrl" alt="User Image" class="img-size-32 mr-3 img-circle">
        <!-- <span class="badge badge-danger navbar-badge">3</span> -->
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
      <div class="row">
        <div class="col-sm-12">
            <div class="bg-primary text-center">
                <h5>
                  {{ user.fullName | slice:0:20 }}
                  {{ (user.fullName.length > 20) ? '...' : '' }}
                </h5>
            </div>
        </div>        
      </div>
      <div class="dropdown-divider"></div>
      <a routerLink="/user-profile" class="dropdown-item">
        My Profile
      </a>
      <!-- <div class="dropdown-divider"></div>
      <a href="#" class="dropdown-item">
        Settings
      </a> -->
      <div class="dropdown-divider"></div>
      <a (click)="logout()" class="dropdown-item" role="button">
        Logout
      </a>
    </div>
</li>