<nav class="mt-2" id="portalBody">
  <ul class="nav nav-pills nav-sidebar flex-column text-sm nav-compact nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">      
    <li [ngClass]="i == 0 ? 'nav-item menu-open' : 'nav-item'" *ngFor="let item of menuItems; let i = index">
      <a [routerLink]="" routerLinkActive="active" [ngClass]="i == 0 ? 'nav-link active' : 'nav-link'">
        <!-- #MainMenu -->
        <i [class]="item.icon"></i>
        <p>
          {{item.title}}
          <i *ngIf="item.submenu.length > 0" class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item" *ngFor="let subMenuItem of item.submenu; let im = index">
          <!-- (click)="SetFocusMenu($event, MainMenu); HideMenu()" -->
          <a [routerLink]="subMenuItem.url" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  [ngClass]="'nav-link'">
            <i [class]="subMenuItem.icon"></i>
            <p>{{subMenuItem.title}}</p>
          </a>
        </li>
      </ul>
    </li>      
  </ul>
</nav>
