<div class="wrapper">
  <app-navbar></app-navbar>
  
  <main-sidebar></main-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 1302.25px;">
    <app-breadcrumbs></app-breadcrumbs>
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <!-- Aca definimos nuestro contenido -->
        <router-outlet></router-outlet>
        <!-- <div class="row">          
        </div> -->
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <control-sidebar></control-sidebar>  

  <app-main-footer></app-main-footer>
  
</div>
<!-- ./wrapper -->